@model ChangePassword
@{
    ViewBag.Title = "Đổi mật khẩu";
}

<div class="box box-primary">
    <div class="box-body">
        <form action="~/Account/HandleChangePassword" method="post">
            <div class="form-group">
                <label>Mật khẩu cũ:</label>
                <input type="password" class="form-control" name="@nameof(Model.OldPassword)" required autofocus>
            </div>

            <div class="form-group">
                <label>Mật khẩu mới:</label>
                <input type="password" class="form-control" name="@nameof(Model.NewPassword)" required>
            </div>

            <div class="form-group">
                <label>Xác nhận lại mật khẩu:</label>
                <input type="password" class="form-control" name="@nameof(Model.ConfirmPassword)" required>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        @if (string.IsNullOrEmpty(Model.SuccessMessage))
                        {
                            <div style="background-color: #feffdf; width: 400px; height: 50px; align-content: center">
                                <p style="margin: 5px 0 5px 10px;">
                                    @Html.ValidationMessage(nameof(Model.OldPassword), new { @style = "color:#f00" })
                                </p>
                                <p style="margin: 0px 0 5px 10px;">
                                    @Html.ValidationMessage(nameof(Model.NewPassword), new { @style = "color:#f00" })
                                </p>
                                <p style="margin: 0px 0 5px 10px;">
                                    @Html.ValidationMessage(nameof(Model.ConfirmPassword), new { @style = "color:#f00" })
                                </p>
                            </div>
                        }
                        else
                        {
                            <div style="background-color: #bbe9db; width: 400px; height: 50px; align-content: center">
                                <p style="color: #1f6f78">@Model.SuccessMessage</p>
                            </div>
                        }

                    </div>

                    <div class="col-md-6 text-right" style="align-content: center; height: 50px">
                        <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                        <a href="~/" class="btn btn-default">Bỏ qua</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>